# Ignore everything
*

# Allow folder traversal
!*/

# Allow code and notebook files
!**/*.py
!**/*.ipynb

# Allow documentation and config
!README
!README.md
!.gitignore

# Ignore Python cache files
__pycache__/
*.py[cod]
*.so